section
  .flex.flex--center
    .col-1
      p blah blah blah

    .col-1
      p asdfkljsflkjsflkjsdflkj

section
  .flex.flex--space-around
    .col-1
      p this is works

    .col-1.order-first
      p CTA oaisdfasdfoin works oisdnfaosdifn

section
  .flex.flex--center
    .col-2
    p this is design. hope you enjoy my peice of work.


section
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        p asdfkzv;lkasflknwoinsdf
      .col-50
        p random text here....
