header
  .header-position
    h1.logo Jeffrey Kim

    nav.site-nav
      ul
        li: a(href="#about") About
        li: a(href="#works") Works
        li: a(href="#notes") Notes
        li: a(href="#design") design
        li: a(href="#contact") contact




    a(href="mailto:jeffrey.kim.0122@gmail.com").email-link +email me
