// Global nav-content
mixin nav-content()
  ul
    li: a(href="#about") About
    //li: a(href="#works") Works
    li: a(href="#note") Note
    li: a(href="#design") Design
    li: a(href="#contact") Contact


.mobile-nav
  +nav-content()


header
  .header-position
    h1.logo Jeffrey Kim

    nav.site-nav
      +nav-content()



    a(href="mailto:jeffrey.kim.0122@gmail.com").email-link +email me


    .mobile-nav-toggle: span
