section.modern
  .screen.Wakui-example
    .modern-home
      .logo Jeffrey
      nav.nav-overlay
        ul.nav-ul-overlay
          li: a(href="#Home") Home
          li: a(href="#About") About
          li: a(href="#News") News
          li: a(href="#Read") Read me
      h1.h1-modern-text Simple
  .modern-page
    .modern-picture1
    .modern-picture2
    .modern-picture3
