section.page-notes
    
    h1.h1-notes Notes
    
    div.bar1
    
    div.experience-section.example-layout
    
      div.layout-format
        h3.exp-1 Modern 
        
        p.text-lead Simplistic, clean and percise landing page. 
        
        a(href="modern_landing.html") click me
        
