section.work
  .flex.flex--center
    .col-1
      .picture-strip

    .col-1.order-first
      p.home-lead.outdented ... feeling little to no importance, since this planet is fragile to numerous galaxies ...
      a(href="").home-cta See my work
