section.note
  .flex.flex--center
    .col-1
      .picture-strip
      .picture-strip2
      .picture-strip3

    .col-1.order-first
      p.home-lead.outdented ... taking notes on things ...
      a(href="").home-cta See my notes
