mixin notes-img(img)
  img(src="assets/img/#{img}").notes-img-pic

section.note#note
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        .picture-strip
          +notes-img('prism.jpg')
          +notes-img('lorenz-attractor2.jpg')
          +notes-img('nautilus.jpg')
          .cf

    .col-50.flex.flex--center
      .col-1.order-first
        p.home-lead.outdented ... taking notes on things ...
        a(href="index-pages.html").home-cta See my notes
