.home-footer

  a
    color: white
    background: #4fc1ff
    display: block
    width: 100%
    line-height: 6
    text-align: center
    font-size: 60px
    font-weight: 300
    transition: background 150ms ease-in-out

    &:hover
      background: darken(#4fc1ff, 15%)

<<<<<<< HEAD
@media(max-width: 775px)
  .home-footer
    a
      font-size: 30px
=======
@media(max-width: 842px)
  .home-footer
    a
      font-size: 1.4rem
>>>>>>> c1da8b8626f340c550129acc83f2300ea6f24102
