section.design
  //Used to create the gradient background
  background:
    color: #003973
  background: -webkit-linear-gradient(to left, #003973 , #E5E5BE)
  background: linear-gradient(to left, #003973 , #E5E5BE)

  .col-1
    display: flex
    align-items: center

  .home-cta
    color: white
    background: #64b3f4

  .article-wrap
    margin: -50px 0
    +clearfix

  .article-thumb
    display: block
    background:
      size: cover
      position: center
    width: 30%
    float: left
    position: relative
    overflow: hidden

    &.is-emph
      //adding Pulse animation
      animation-name: rubberBand
      animation-duration: 1s
      animation-fill-mode: both

    &::after
      content: ''
      display: block
      padding-top: 100%


  .article-meta
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: fade-out(#64b3f4, 0.4)
    color: white
    padding: 10px
    transform: translate(0%, 100%) scale(0.5)
    transition: all 200ms ease-in-out
    opacity: 0

    .name
      font-size: 18px
      line-height: 1.2

    .date
      font-style: italic


  .article-thumb:hover .article-meta
    opacity: 1
    transform: translate(0%, 0%) scale(1)



@media (max-width: 640px)
  .desc-wrap
    margin-top: 100px

  .article-thumb
    left: 5%

@media (max-width: 320px)
  .article-thumb
    left: 15px

@media (max-width: 1010px)
  .article-thumb
    margin-bottom: 8%


@keyframes rubberBand
  from
    transform: scale3d(1, 1, 1)

  30%
    transform: scale3d(1.25, 0.75, 1)

  40%
    transform: scale3d(0.75, 1.25, 1)

  50%
    transform: scale3d(1.15, 0.85, 1)

  65%
    transform: scale3d(.95, 1.05, 1)

  75%
    transform: scale3d(1.05, .95, 1)

  to
    transform: scale3d(1, 1, 1)
