.body-color
  background:
    color: #f9f9ef
.page-wrap
  text-align: center
  height: 100vh
  border: solid

  .page-notes
    //centers items
    margin-left: auto
    margin-right: auto

    width: 35%
    height: 100vh

    padding: 0
    border: solid
    display: flex
    flex-direction: column

  .bar1
    height: 3px
    background:
      color: black
    margin: -12px 0
    width: auto

  .text-lead
    margin-right: 20px
    line-height: 3px
