body
  background:
    color: #f9f9ef
.page-wrap
  text-align: center

  .page-notes
    display: inline-block

  .bar1
    width: 35px
    height: 5px
    background:
      color: black
    margin: 6px 0
